{
    "swagger": "2.0",
    "info": {
        "version": "2",
        "title": "Hockeyapp Public API wrapper"
    },
    "schemes": [
        "https"
    ],
    "host": "rink.hockeyapp.net",
    "basePath": "/api/2",
    "securityDefinitions": {
        "token": {
            "type": "apiKey",
            "name": "X-HockeyAppToken",
            "in": "header"
        }
    },
    "paths": {
        "/apps": {
            "get": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "description": "Gets `Apps`.\n",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "title": "Apps",
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "string"
                                },
                                "apps": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "title": {
                                                "type": "string"
                                            },
                                            "bundle_identifier": {
                                                "type": "string"
                                            },
                                            "public_identifier": {
                                                "type": "string"
                                            },
                                            "device_family": {
                                                "type": "string"
                                            },
                                            "minimum_os_version": {
                                                "type": "string"
                                            },
                                            "release_type": {
                                                "type": "integer",
                                                "enum": [
                                                    0,
                                                    1,
                                                    2,
                                                    3
                                                ]
                                            },
                                            "status": {
                                                "type": "integer",
                                                "enum": [
                                                    1,
                                                    2
                                                ]
                                            },
                                            "platform": {
                                                "type": "string",
                                                "enum": [
                                                    "iOS",
                                                    "Android",
                                                    "Mac Os",
                                                    "Windows Phone",
                                                    "Custom"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    }
                }
            }
        },
        "/apps/upload": {
            "post": {
                "security": [
                    {
                        "token": []
                    }
                ],
                "description": "Upload a new app",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "201": {
                        "description": "Upload success",
                        "schema": {
                            "title": "App",
                            "type": "object",
                            "properties": {
                                "title": {
                                    "type": "string"
                                },
                                "bundle_identifier": {
                                    "type": "string"
                                },
                                "public_identifier": {
                                    "type": "string"
                                },
                                "release_type": {
                                    "type": "integer",
                                    "enum": [
                                        0,
                                        1,
                                        2,
                                        3
                                    ]
                                },
                                "platform": {
                                    "type": "string",
                                    "enum": [
                                        "iOS",
                                        "Android",
                                        "Mac Os",
                                        "Windows Phone",
                                        "Custom"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "parameters": [
                    {
                        "in": "formData",
                        "name": "Ipa",
                        "description": "file data of the .ipa for iOS, .app.zip for OS X, or .apk file for Android",
                        "required": true,
                        "type": "file"
                    },
                    {
                        "in": "formData",
                        "name": "dsym",
                        "description": "file data of the .dSYM.zip file (iOS and OS X) or mapping.txt (Android); note that the extension has to be .dsym.zip (case-insensitive) for iOS and OS X and the file name has to be mapping.txt for Android.",
                        "type": "file"
                    },
                    {
                        "in": "formData",
                        "name": "notes",
                        "description": "release notes as Textile or Markdown (after 5k characters note are truncated)",
                        "type": "string"
                    },
                    {
                        "in": "formData",
                        "name": "notes_type",
                        "description": "type of release notes. `0` for Textile, `1` for Markdown",
                        "type": "integer",
                        "enum": [
                            0,
                            1
                        ]
                    },
                    {
                        "in": "formData",
                        "name": "notify",
                        "description": "notify testers (can only be set with full-access tokens). `0` to not notify, `1` to notify all testers that can install this app,  `2` to notify all testers",
                        "type": "integer",
                        "enum": [
                            0,
                            1,
                            2
                        ]
                    },
                    {
                        "in": "formData",
                        "name": "status",
                        "description": "download status (can only be set with full-access tokens). `1` to not allow users to download the version, `2` to make the version available for download",
                        "type": "integer",
                        "enum": [
                            0,
                            1,
                            2
                        ]
                    },
                    {
                        "in": "formData",
                        "name": "strategy",
                        "description": "replace or add build with same build number. `add` to add the build as a new build to even if it has the same build number __default__, `replace` to replace to a build with the same build number",
                        "type": "string",
                        "enum": [
                            "add",
                            "replace"
                        ]
                    },
                    {
                        "in": "formData",
                        "name": "tags",
                        "description": "restrict download to comma-separated list of tags",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "in": "formData",
                        "name": "teams",
                        "description": "restrict download to comma-separated list of team IDs",
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "in": "formData",
                        "name": "users",
                        "description": "restrict download to comma-separated list of user IDs",
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "in": "formData",
                        "name": "mandatory",
                        "description": "set version as mandatory `0` for not mandatory __default__, `1` for mandatory",
                        "type": "integer",
                        "enum": [
                            0,
                            1
                        ]
                    },
                    {
                        "in": "formData",
                        "name": "release_type",
                        "description": "set the release type of the app. `0` for beta __default__  `1` for store `2` for alpha `3` for enterprise",
                        "type": "integer",
                        "enum": [
                            0,
                            1,
                            2,
                            3
                        ]
                    },
                    {
                        "in": "formData",
                        "name": "private",
                        "description": "set to `true` to enable the private download page (default is `true`)",
                        "type": "boolean"
                    },
                    {
                        "in": "formData",
                        "name": "owner_id",
                        "description": "set to the ID of your organization",
                        "type": "integer"
                    },
                    {
                        "in": "formData",
                        "name": "commit_sha",
                        "description": "set to the git commit sha for this build",
                        "type": "string"
                    },
                    {
                        "in": "formData",
                        "name": "build_server_url",
                        "description": "set to the URL of the build job on your build server",
                        "type": "string"
                    },
                    {
                        "in": "formData",
                        "name": "repository_url",
                        "description": "set to your source repository",
                        "type": "string"
                    }
                ]
            }
        }
    }
}